@model FeedbackViewModel

@using (Html.BeginForm()) 
{
    <div>
        <h2>Feedback Form</h2>

        <div>
            @* <label>Module:</label> *@
            @* @Html.DropDownListFor(m => m.SelectedModule, new SelectList(Model.Modules, "Id", "Name")) *@
        </div>

        <div>
            <label>Teacher:</label>
            @Html.DropDownListFor(m => m.SelectedTeacher, new SelectList(Model.Teachers, "Id", "Name"))
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sn</th>
                    <th>Points</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.FeedbackQuestions.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.FeedbackQuestions[i].Qn</td>
                        <td>
                            @Html.DropDownListFor(m => m.Answers[i], new SelectList(Enumerable.Range(1, 5)))
                            @Html.ValidationMessageFor(m => m.Answers[i])
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}


<div>
    <a class="btn-custom" asp-action="Index">Back to List </a>
</div>