@model IEnumerable<GHM.Models.IssueViewModel>

@{
    ViewData["Title"] = "IssueList";
}

<h1>IssueList</h1>

<p>
    <a asp-action="CreateIssue">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecommendedSolution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendedSolution)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Button to GO back to Index -->
<a asp-action="Index">Back to List</a>


<style>
    h1, h2, h3 .control-label {
        color: white;
    }

    body {
        color: white;
    }
    /* Button Styles */
    .btn-custom {
        color: #1C5792;
        margin: 10px 0px;
        text-decoration: none;
        /* Removes underline */
        background-color: white;
        /* Blue background */
        border: 1px solid #1C5792;
        /* Blue border */
        padding: 10px 20px;
        /* Padding */
        border-radius: 5px;
        /* Rounded corners */
        display: inline-block;
        /* Align properly */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition */
    }

    table{
        color: white;
    }

        .btn-custom:hover {
            background-color: #1C5792;
            ;
            /* Orange background on hover */
            color: white;
            /* White text on hover */
            border: 1px solid #F1802B;
            /* Orange border on hover */
        }

    th, tr {
        color: white;
    }
</style>